<div class="container">
<%= @card.definition %>
<h1><%= @card.answer %></h1>
<form action="/guess/<%= @card.id %>" method="post" name="guess-form">
  <input type="text" name="guess" size="64" placeholder="Guess the term here!">
  <input type="hidden" name="<%= @card.id %>">
  <input type="submit" value="Submit Answer!">
</form>



<% if @last_card %>
<p>The last answer was: <%= @last_card.answer %></p>
<p>You inputted: <%= @guess %></p>
<p>And you were: <%= @last_card.correct %></p>
<p>Nubmer correct: <%= @round.num_correct %>
<p>You are on card number <%= @count %> of <%= @deck.length %>
 </p>
<%end %>
</div>
